* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: beige;
}

.App {
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  width: 80%;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 15px;
  background-color: #ffcc99;
}

.submitPage,
.checkoutPage,
.successPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submitPage__title,
.checkoutPage__title {
  margin-bottom: 17px;
  color: #ff9999;
  text-shadow: 2px 2px 4px #000000;
}

.submitPage__paragraph,
.checkoutPage__paragraph {
  margin-bottom: 10px;
  line-height: 1.5em;
}

.form__item {
  margin: 8px;
  padding: 10px;
}

.form__item_type_text,
.form__item_textarea {
  width: 300px;
}

.form__item_textarea {
  height: 100px;
}

.form__button,
.checkoutPage__button {
  margin: 0 30%;
  border: 2px solid #999999;
  border-radius: 5px;
  font-weight: bold;
  background-color: #ff9966;
}

.form__button {
  margin: 0 30%;
  padding: 7px;
  width: 125px;
  border: 2px solid #999999;
  border-radius: 5px;
  font-weight: bold;
  background-color: #ff9966;
}

.checkoutPage__button {
  margin-bottom: 10px;
  padding: 3px;
  width: 60px;
}

.userinfo {
  margin-bottom: 20px;
  padding: 15px;
  line-height: 1.5em;
  border: 1px solid #666666;
}

.userinfo__item {
  margin-bottom: 10px;
  border-bottom: 1px solid #999999;
  font-size: 1.5em;
  font-family: Snell Roundhand, cursive;
  font-weight: bold;
}

.userinfo__item_span {
  font-size: 0.7em;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}
